/** KEYS **/
$key-bg-color: #ddd;
$key-text-color: #115;

$key-disabled-bg-color: #666;
$key-disabled-text-color: #ddf;

$key-width-small-screen: 27px;
$key-height-small-screen: 32px;

$word-letter-width:.4em;